<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<p>Term Search to display links</p>
<% terms.forEach(function(term) { %>
   <p><b><%= term %></b>: <span id='<%= term %>'>0</span></p>
<% }); %>